.calendar {
    &__wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        padding: rem(35px 25px);
        background: #fff;
        box-sizing: border-box;
        box-shadow: rem(0 0 10px) rgb(0 0 0 / 3%);
        border-radius: rem(10px);
        transform: translate(-50%, -50%);
    }

    &__header {
        display: flex;
        position: relative;
        margin-bottom: rem(20px);
        box-sizing: border-box;
        justify-content: space-between;
        align-items: center;
        
        &__title {
            .title {
                &__month {
                    color: #575757;
                    font-size: rem(23px);
                    font-weight: bold;
                }

                &__year {
                    margin-left: rem(10px);
                    color: #c8c8c8;
                    font-size: rem(23px);
                }
            }
        }

        &__button {
            width: rem(30px);
            height: rem(30px);
            font-size: 0;
            background: url("~@/assets/images/icon-next.png") no-repeat center / rem(auto 15px);
            border: none;
            border-radius: 50%;

            &.prev {
                transform: rotate(180deg);
            }
        }            
    }

    &__inner {
        width: rem(280px);
        border-spacing: 0;
    }

    &__item {
        display: inline-block;
        width: rem(40px);
        height: rem(40px);
        text-align: center;
        cursor: default;
        box-sizing: border-box;

        span {
            display: inline-block;
            width: 100%;
            color: #50e3a4;
            font-size: rem(16px);
            font-weight: normal;
            line-height: rem(40px);
        }
    }

    &__date {
        position: relative;

        span {
            color: #575757;
        }
        
        &.notThisMonth {
            pointer-events: none;
            cursor: default;
            opacity: .2;
        }

        &.today {
            &:before {
                content: "";
                position: absolute;
                top: rem(6px);
                left: 50%;
                width: rem(6px);
                height: rem(6px);
                background: #50e3a4;
                border-radius: 50%;
                box-sizing: border-box;
                transform: translate(-50%, 0);
            }   
        }

        &__label {
            display: block;
            cursor: pointer;
        }

        &__input {
            display: none;

            &:checked {
                & + span {
                    position: relative;
                    color: #fff;

                    &:before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        z-index: -1;
                        width: 80%;
                        height: 80%;
                        background: #50e3a4;
                        border-radius: rem(8px);
                        transform: translate(-50%, -50%);
                    } 
                }
            }
        }
    }

    &__schedule {
        position: relative;
        margin: rem(25px 0);
        text-align: center;

        .schedule {
            padding-top: rem(20px);
            border-top: 1px solid #ddd;
            color: #575757;
            text-align: left;

            &__inner {
                overflow-x: hidden;
                overflow-y: auto;
                max-height: 120px;
            }

            &__list {
                position: relative;
                padding: rem(8px 40px 8px 10px);

                &:before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: rem(4px);
                    height: rem(4px);
                    background: #575757;
                    border-radius: 50%;
                    transform: translate(0, -50%);
                }

                &__text {
                    font-size: rem(15px);
                    line-height: rem(20px);   
                    word-break: break-all;
                }

                &__delete {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    width: rem(33px);
                    height: rem(22px);
                    background: #f0efe9;
                    border-radius: rem(3px);
                    border: none;
                    font-size: 0;
                    transform: translate(0, -50%);

                    &:before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: rem(10px);
                        height: rem(2px);
                        background: #575757;   
                        border-radius: rem(10px);
                        transform: translate(-50%, -50%);
                    }
                }
            }

            &__empty {
                font-size: rem(15px);
                line-height: rem(30px);
            }

            &__addList {
                margin-top: rem(20px);

                &__label {
                    display: inline-block;
                    width: calc(100% - rem(50px));
                    font-size: 0;
                    vertical-align: middle;
                }

                &__input {
                    width: 100%;
                    height: rem(40px);
                    padding: 0 rem(10px);
                    background: #f0efe9;
                    color: #575757;
                    border: 0;
                    font-size: rem(15px);
                    font-family: "Shippori Antique", sans-serif;
                    border-radius: rem(4px);
                    box-sizing: border-box;
                }

                &__button {
                    position: relative;
                    width: rem(33px);
                    height: rem(40px);
                    margin-left: rem(17px);
                    background: #f0efe9;;
                    border: none;
                    border-radius: rem(3px);
                    font-size: 0;
                    vertical-align: middle;

                    &:before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: rem(10px);
                        height: rem(2px);
                        background: #575757;   
                        border-radius: rem(10px);
                        transform: translate(-50%, -50%);
                    }

                    &:after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: rem(2px);
                        height: rem(10px);
                        background: #575757;   
                        border-radius: rem(10px);
                        transform: translate(-50%, -50%);
                    }
                }
            }

            &__buttonWrap {
                position: absolute;
                bottom: rem(-100px);
                left: 50%;
                transform: translate(-50%, 0);
         
                button {
                    position: relative;
                    width: rem(70px);
                    height: rem(70px);
                    padding: 0;
                    border-radius: 50%;
                    border: none;
                    background: #50e3a4;
                    box-shadow: rem(0 0 5px) rgb(0 0 0 / 20%);
                    font-size: 0;
    
                    &:before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: rem(20px);
                        height: rem(4px);
                        background: #40a97c;
                        border-radius: rem(5px);
                        transform: translate(-50%, -50%);
                    }
                
                    &:after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        display: inline-block;
                        width: rem(4px);
                        height: rem(20px);
                        background: #40a97c;
                        border-radius: rem(5px);
                        transform: translate(-50%, -50%);
                    }
                }
                
                &__cancel { //__add가 기준, __cancel이 커스텀
                    background: #575757 !important;

                    &:before {
                        background: #fff !important;
                        transform: translate(-50%, -50%) rotate(45deg) !important;
                    }

                    &:after {
                        background: #fff !important;
                        transform: translate(-50%, -50%) rotate(45deg) !important;
                    }
                }
            }

        }
    }
}