// 출처 https://reactgo.com/add-fonts-vue-app/
@font-face {
    font-family: "Shippori";
    src: local("Shippori"), url("../fonts/ShipporiAntique-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}