// 출처 https://www.catagec.com/blog/loading-local-fonts-with-vue-cli-4/
@font-face {
    font-family: "Shippori";
    src: local("Shippori"), url("../fonts/ShipporiAntique-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}