.weather {
    &__wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        padding: rem(35px);
        background: #fff;
        border-radius: rem(10px);
        box-shadow: 0 0 rem(10px) rgb(0 0 0 / 3%);
        box-sizing: border-box;
        transform: translate(-50%, -50%);
    }

    &__place {
        font-size: 0;

        &__open {
            width: rem(25px);
            height: rem(25px);
            background: url("~@/assets/images/icon-placeholder-gray.png")no-repeat center center/ 100% auto;
            border: none;
            font-size: 0;
            vertical-align: middle;
        }

        &__info {
            display: inline-block;
            margin-left: rem(5px);
            color: #575757;
            font-size: rem(16px);
            vertical-align: middle;
        }
    }

    &__search {
        position: absolute;
        top: rem(20px);
        left: rem(20px);
        z-index: 2;
        width: calc(100% - #{rem(40px)});
        padding: rem(15px);
        background: #f7f6f1;
        border-radius: rem(35px);
        box-sizing: border-box;

        &__area {
            width: calc(100% - #{rem(65px)});
            display: inline-block;
        }

        &__input {
            width: 100%;
            height: rem(30px);
            padding: 0;
            background: #f7f6f1;
            border: none;
            color: #575757;
            font-family: "Shippori Antique", sans-serif;
            font-size: rem(15px);
            box-sizing: border-box;
            vertical-align: middle;
        }

        &__buttonWrap {
           display: inline-block;
           vertical-align: middle;
           margin-left: rem(10px);

            button {
                width: rem(25px);
                height: rem(25px);
                border-radius: 50%;
                border: none;
                font-size: 0;
                vertical-align: middle;
            }

            .buttonWrap {
                &__enter {
                    background: #50e3a4 url('~@/assets/images/icon-checked.png') no-repeat center/ rem(13px) auto; 
                }

                &__cancel {
                    position: relative;
                    margin-left: rem(5px);
                    background: #fff;

                    &:before {
                        content: "";
                        width: rem(15px);
                        height: rem(3px);
                        background: #ddd;
                        border-radius: rem(5px);
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%) rotate(45deg);
                    }
        
                    &:after {
                        content: "";
                        width: rem(3px);
                        height: rem(15px);
                        background: #ddd;
                        border-radius: rem(5px);
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%) rotate(45deg);
                    }
                }
            }
        }
    }

    &__info {
        text-align: center;
    }

    &__thumb {
        overflow: hidden;
        position: relative;
        width: rem(240px);
        height: rem(240px);
        padding: rem(40px);
        box-sizing: border-box;
    }

    &__image {
        position: absolute;
        top: 50%;
        left: 50%;
        width: calc(100% - #{rem(80px)});
        height: auto;
        transform: translate(-50%, -50%);
    }

    &__text {
        display: block;
        color: #575757;
        font-size: rem(16px);
        line-height: 1;
    }

    &__temperature {
        display: block;
        margin-top: rem(20px);
        color: #50e3a4;
        font-size: rem(40px);
        font-weight: bold;
        line-height: 1;

        &:after {
            content: "℃";
            font-size: rem(15px);
            vertical-align: top;
        }
    }
}